h1 {
    color:white;
    font-size: 28px;
    text-align: center;
}
.header-bar {
    margin: 0 auto;
    background-color: black;
    align-items: center;
    width: 100%;
    opacity: 90%;
}
body {
    font-family: 'Fira Code', monospace;
    background-image: url(https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    padding:0;
    display: inline-block;
    color:white;
}
img {
    width: 100%;
    height: auto;
}
.app-container {
    margin: 0 auto;
    text-align:center;
    border-style: solid;
    border-width: 3px;
    border-color:white;
    background-color: black;
    width: 690px;
    opacity: 90%;
}
.footer {
    color:white;
    margin: 0 auto;
    align-items: initial;
    text-align: center;
    font-size: 15px;
    width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance:textfield;
}
@media screen and (max-width:1024px) {
    .app-container {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .app-container {
        width: 100%;
    }
}
@media screen and (max-width:375px) {
    .app-container {
        width: 100%;
    }
}
html,body{
    overflow-x: hidden;
}