h1 {
    color:white;
    font-family: 'Fira Code', monospace;
    font-size: 38px;
    text-align: center;
}
.header-bar {
    background-color: black;
    opacity: 90%;
}
body {
    font-family: 'Fira Code', monospace;
    background-image: url(https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.img-link {
    cursor: pointer;
}
ul {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}
#app-container {
    border-style: solid;
    border-width: 3px;
    border-color:white;
    background-color: black;
    opacity: 90%;
}
.checkbox-grid {
    color:white;
    text-align:center;
}
.password-box {
    color:white;
    text-align:center;
}
#footer {
    color:white;
    text-align: center;
}